<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<link rel="stylesheet" type="text/css" href="css/detail.css"/>
	</head>
	<body>
		<section id="top">
			<div class="wbox margin">
				<b class="name">国美会员
					<i class="i1"></i>	
					<div class="hover">
						<div class="user">
							<i class="i2"></i>
							<p class="uname">
								欢迎来到国美
								<a href="login.html">
									请登录！
								</a>
							</p>
						</div> 
					</div>
				</b>
				<div class="cen">
					<a href="login.html" class="login" style="float: left;">登录</a>
					<a href="regs.html" class="reg" style="line-height: 32px;">注册</a>
					<a href="" class="out" style="display: none; float: left;line-height: 32px;">退出</a>
				</div>
				<ul class="r">
					<li class="link">
						<a href="" class="a1">我的订单</a>
					</li>
					<li class="my">
						<b>
							<a href="">我的国美</a>
							<i class="i3"></i>
						</b>
						<div class="am">
							<strong>我的国美，<a href="login.html">请登录</a></strong>
							<ul class="order">
								<li><a href="">
									待处理订单
								</a></li>
								<li><a href="">
									我的收藏
								</a></li>
								<li><a href="">
									我的金融
								</a></li>
								<li><a href="">
									个人资料
								</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</section>
	    <header class="margin">
	    	<a href="index.html" class="logo"></a>
	    	<a href="" class="gif">
	    		<img src="//gfs10.gomein.net.cn/T1mrLgBXY_1RCvBVdK.gif"/>
	    	</a>
	    	<div class="search">
	    		<div class="select" id="search">
	    			<div class="s-r">
	    				<span>商品</span>
	    				<i class="i4"></i>
		    			<ul class="list">
		    				<li>商品</li>
		    				<li>店铺</li>
		    				<li>话题</li>
		    				<li>圈子</li>
		    			</ul>
	    			</div>
	    		    <input type="text" id="txt" value="" placeholder="请输入商品名称" class="txt"/>
	    		    <input type="button" id="btn" value="搜索" class="btn"/>
	    		    <ul class="search-res">
            		</ul>
	    		</div>
	    	    <div class="word">
	    	    	<a href="" class="te">省钱攻略</a>
	    	    	<a href="">优惠购金</a>
	    	    	<a href="">大屏彩电</a>
	    	    	<a href="">最高减2000</a>
	    	    	<a href="">灯具9.9元</a>
	    	    	<a href="">购机送话费</a>
	    	    	<a href="">惠普</a>
	    	    	<a href="">空调1499元</a>
	    	    </div>
	    	</div>
	    	<div class="car">
	    		<a href="#" class="mycar">我的购物车
	    			<em class="cart"></em>
	    		</a>
	    	</div>
	    </header>
	    
	    <section id="main">
	    	<div class="head margin">
	    		<img src="https://gfs11.gomein.net.cn/T1oiKvBsLT1RCvBVdK.jpg"/>
	    	</div>
	    	<div class="h2">
	    		<ul class="margin">
	    			<li>
	    				<a href="">
	    					全部产品
	    				</a>
	    			</li>
	    			<li>
	    				<a href="">
	    					电风扇
	    				</a>
	    			</li>
	    			<li>
	    				<a href="">
	    					空调扇
	    				</a>
	    			</li>
	    			<li>
	    				<a href="">
	    					取暖器
	    				</a>
	    			</li>
	    		</ul>
	    	</div>
	    	<div class="h3">
	    		<div class="margin">
		    		<ul>
		    			<li>
		    				<a href="">生活电器</a>
		    				<i></i>
		    			</li>
		    			<li>
		    				<a href="">环境电器</a>
		    				<i></i>
		    			</li>
		    			<li>
		    				<a href="">取暖器</a>
		    				<i></i>
		    			</li>
		    			<li>
		    				<a href="">格力(Gree)</a>
		    				<i></i>
		    			</li>
		    			<li>
		    				<a href="" class="active">格力NDY13-X6121</a>
		    			</li>
		    		</ul>
		    		<div class="r">
		    			<a href="">
		    				<i></i>
		    				<span>收藏店铺</span>
		    			</a>
		    			<a href="">
		    				<i class="i1"></i>
		    				<span>在线客服</span>
		    			</a>
		    			<span class="s1">
		    				国美自营
		    			</span>
		    			<a href="">格力两季品旗舰店</a>
		    		</div>
	    		</div>
	    	</div>
	    	<div class="cont clear">
	    		<div class="l">
		    		<div class="c-l d1">
		    			<img src="https://gfs17.gomein.net.cn/T1j0AbB5ET1RCvBVdK_450.jpg"/>
		    			<img src="https://gfs13.gomein.net.cn/T1TiKgB7Jv1RCvBVdK_450.jpg"/>
		    			<img src="https://gfs13.gomein.net.cn/T1LRWsBjZj1RCvBVdK_450.jpg"/>
		    			<img src="https://gfs10.gomein.net.cn/T15ix_BTVv1RCvBVdK_450.jpg"/>
		    			<img src="https://gfs10.gomein.net.cn/T1lhAjBmbv1RCvBVdK_450.jpg"/>
		    			<span class="s2"></span>
						<p></p>
		    		</div>
					<div class="d2">
						<img src="https://gfs17.gomein.net.cn/T1j0AbB5ET1RCvBVdK_800_pc.jpg"/>
						<img src="https://gfs10.gomein.net.cn/T1TiKgB7Jv1RCvBVdK_800_pc.jpg"/>
						<img src="https://gfs10.gomein.net.cn/T1LRWsBjZj1RCvBVdK_800_pc.jpg"/>
						<img src="https://gfs13.gomein.net.cn/T15ix_BTVv1RCvBVdK_800_pc.jpg"/>
						<img src="https://gfs13.gomein.net.cn/T1lhAjBmbv1RCvBVdK_800_pc.jpg"/>
					</div>
					<ul class="u1">
						<li class="l1"><img src="https://gfs17.gomein.net.cn/T1j0AbB5ET1RCvBVdK_60.jpg"/></li>
						<li class="l1"><img src="https://gfs13.gomein.net.cn/T1TiKgB7Jv1RCvBVdK_60.jpg"/></li>
						<li class="l1"><img src="https://gfs13.gomein.net.cn/T1LRWsBjZj1RCvBVdK_60.jpg"/></li>
						<li class="l1"><img src="https://gfs10.gomein.net.cn/T15ix_BTVv1RCvBVdK_60.jpg"/></li>
						<li class="l1"><img src="https://gfs10.gomein.net.cn/T1lhAjBmbv1RCvBVdK_60.jpg"/></li>
					</ul>
		    	</div>
	    	    <div class="r">
	    	    	<div class="r-t">
	    	    		<h1>格力（GREE）NDY13-X6121 家用11片 电热油汀 取暖器 宽片节能 电暖器 黑+香槟金</h1>
	    	    		<h4>11片宽片油汀，高效取暖，整屋升温，倾倒断电</h4>
	    	    	</div>
	    	    	<div class="img">
	    	    		<img src="https://gfs10.gomein.net.cn/T11hZvBvbj1RCvBVdK.png"/>
	    	    	</div>
	    	    	<div class="price">
	    	    		<span class="s4">团  购  价</span>
	    	    		<span class="s5"><em>￥</em>259.00</span>
	    	    		<del>￥280.00</del>
	    	    		<span class="s6">降价通知</span>
	    	    	</div>
	    	    	<div class="main">
	    	    		<div class="m-t">
	    	    			<div class="tese">
	    	    				<p class="p2">特色</p>
	    	    				<span class="t">
	    	    					<em></em>
	    	    					<b class="b1"></b>
	    	    					<a href="">以旧换新</a>
	    	    				</span>
	    	    				<span class="t">
	    	    					<em></em>
	    	    					<b class="b2"></b>
	    	    					<a href="">管家服务</a>
	    	    				</span>
	    	    				<span class="t">
	    	    					<em></em>
	    	    					<b class="b3"></b>
	    	    					<a href="">国美智能</a>
	    	    				</span>
	    	    			</div>
	    	    			<div class="tese">
	    	    				<p class="p2">服务</p>
	    	    			    <span class="s7">
	    	    			    	由<b>
	    	    			    		国美
	    	    			    	</b>
	    	    			    	安排厂商配送并提供保障监管。
	    	    			    </span>
	    	    			</div>
	    	    			<div class="color">
	    	    				<p class="p2">颜色</p>
	    	    			    <span class="s7">
	    	    			    	黑+香槟金
	    	    			    </span>
	    	    			</div>
	    	    		</div>
	    	    	</div>
	    	    	<div class="car">
	    	    		<a href="car.html" class="a1">加入购物车</a>
	    	    		<a href="" class="a2">
	    	    			<b></b>
	    	    			手机下单
	    	    			<p class="ma">
	    	    				<img src="https://ss.gome.com.cn/item/v1/qr/verify/9140074074/1130573685/flag/item"/>
	    	    			</p>
	    	    		</a>
	    	    	</div>
	    	    </div>
	    	</div>
	    </section>
	    
	      
	    <section id="help" class="margin">
	    	<ul class="h-t">
	    		<li class="l0">
	    			<a href="" class="a3">
	    				<i class="i5"></i>
	    				品质
	    			</a>
	    			<span></span>
	    			<a href="" class="a4">正品行货 购物无忧</a>
	    		</li>
	    		<li class="l0">
	    			<a href="" class="a3">
	    				<i class="i6"></i>
	    				低价
	    			</a>
	    			<span></span>
	    			<a href="" class="a4">正品行货 普惠实价 帮你省钱</a>
	    		</li>
	    		<li class="l0">
	    			<a href="" class="a3">
	    				<i class="i7"></i>
	    				速达
	    			</a>
	    			<span></span>
	    			<a href="" class="a4">专业配送 按时按需</a>
	    		</li>
	    	</ul>
	        <div class="h-b clear">
	        	<dl>
	        		<dt>物流配送</dt>
	        		<dd>配送查询</dd>
	        		<dd>配送服务</dd>
	        		<dd>配送费用</dd>
	        		<dd>配送时效</dd>
	        		<dd>签收与验货</dd>
	        	</dl>
	        	<dl>
	        		<dt>支付与账户</dt>
	        		<dd>货到付款</dd>
	        		<dd>在线支付</dd>
	        		<dd>分期付款</dd>
	        		<dd>门店支付</dd>
	        		<dd>发票制度</dd>
	        	</dl>
	        	<dl>
	        		<dt>售后服务</dt>
	        		<dd>退换货服务</dd>
	        		<dd>退款说明</dd>
	        		<dd>专业维修</dd>
	        		<dd>延保服务</dd>
	        		<dd>家电回收</dd>
	        	</dl>
	        	<dl>
	        		<dt>会员专区</dt>
	        		<dd>会员介绍</dd>
	        		<dd>优惠券说明</dd>
	        		<dd>美豆说明</dd>
	        		<dd>商品评价</dd>
	        	</dl>
	        	<dl>
	        		<dt>购物帮助</dt>
	        		<dd>购物保障</dd>
	        		<dd>购物流程</dd>
	        		<dd>促销优惠</dd>
	        		<dd>焦点问题</dd>
	        		<dd>联系我们</dd>
	        	</dl>
	        </div>
	    </section>
	    <footer>
	    	<div class="margin">
	    		<span class="s3">
	    			<i class="i8"></i>
	    			<p class="p1">
	    				<strong>门店服务</strong>
	    				<a href="">国美门店全国共计2000余家</a>
	    			</p>
	    		</span>
	    		<span class="s3">
	    			<i class="i9"></i>
	    			<p class="p1">
	    				<strong>用户体验</strong>
	    				<a href="">参与用户体验改进计划</a>
	    			</p>
	    		</span>
	    		<div class="wechat">
	    			<em>
	    				<i></i>
	    				<p>公众号</p>
	    				<div class="none">
	    					<img src="https://gfs10.gomein.net.cn/T1kPDvBvZj1RCvBVdK.jpg"/>
	    				</div>
	    			</em>
	    			<em>
	    				<i class="i0"></i>
	    				<p>手机站点</p>
	    				<div class="none">
	    					<img src="https://gfs13.gomein.net.cn/T1gGKvBshT1RCvBVdK.jpg"/>
	    				</div>
	    			</em>
	    			<div class="ma">
	    				<a href="">
	    					<img src="https://gfs11.gomein.net.cn/T1sIDvB7hj1RCvBVdK.jpg"/>
	    					<p>扫描下载客户端</p>
	    				</a>
	    			</div>
	    		</div>
	    		<ul class="clear">
	    			<li>
	    				<a href="">国美集团</a>
	    			</li>
	    			<li>
	    				<a href="">国美管家</a>
	    			</li>
	    			<li>
	    				<a href="">关于国美</a>
	    			</li>
	    			<li>
	    				<a href="">加入我们</a>
	    			</li>
	    			<li>|</li>
	    			<li>
	    				<a href="">品牌大全</a>
	    			</li>
	    			<li>
	    				<a href="">商品专题</a>
	    			</li>
	    			<li>
	    				<a href="">商品词</a>
	    			</li>
	    			<li>
	    				<a href="">热词搜索</a>
	    			</li>
	    			<li>
	    				<a href="">友情链接</a>
	    			</li>
	    			<li>
	    				<a href="">风险监测</a>
	    			</li>
	    			<li>|</li>
	    			<li>
	    				<a href="">销售联盟</a>
	    			</li>
	    			<li>
	    				<a href="">商家入驻</a>
	    			</li>
	    			<li>
	    				<a href="">广告营销</a>
	    			</li>
	    		</ul>
	    		<p>本公司游戏产品适合18岁以上成年人使用  违法和不良信息举报电话：021-39900132  互联网药品信息服务资格证编号（京）-经营性-2018-0025</p>
	    		<p>网络食品销售第三方平台提供者备案：沪网食备A0015号    网络文化经营许可证沪网文[2017]5537-436号 增值电信业务经营许可证</p>
	    		<p>国美在线电子商务有限公司  办公地址:上海市嘉定区沪宜公路3163-3199号一楼A区  客服电话:4008113333  经营证照 出版经营许可证</p>
	    		<p>©2000-2019  国美在线电子商务有限公司版权所有  京公安网备11010502027062  沪ICP备11009419号  沪B2-20120004号</p>
	    	    <div class="bottom">
	    	    	<a href="">
	    	    		<i class="i11"></i>
	    	    		<b>经营性网站备案信息</b>
	    	    	</a>
	    	    	<a href="">
	    	    		<i class="i12"></i>
	    	    		<b>可信网站信用评价</b>
	    	    	</a>
	    	    	<a href="">
	    	    		<i class="i13"></i>
	    	    		<b>诚信网站</b>
	    	    	</a>
	    	    	<a href="">
	    	    		<i class="i14"></i>
	    	    		<b>朝阳网络警察</b>
	    	    	</a>
	    	    	<a href="">
	    	    		<i class="i15"></i>
	    	    		<b>网购大家评</b>
	    	    	</a>
	    	    	<a href="">
	    	    		<i class="i16"></i>
	    	    		<b>上海市互联网违法和不良信息举报中心</b>
	    	    	</a>
	    	    	<a href="">
	    	    		<i class="i17"></i>
	    	    		<b>炎黄鸿志商业信用认证体系</b>
	    	    	</a>
	    	    </div>
	    	</div>
	    </footer>
	</body>
	<script type="text/javascript" src="libs/jquery.js"></script>
	<script type="text/javascript" src="libs/ajax.3.0.js"></script>
	<script type="text/javascript" src="js/detail.js"></script>
	<script type="text/javascript" src="js/js4.js"></script>
	<script type="text/javascript" src="libs/cookie.js"></script>
	<script type="text/javascript" src="js/public.js"></script>
</html>
